body {
  padding-top: 110px;
  padding-bottom: 90px;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-fixed-top {
  -moz-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.table {
  white-space: nowrap;
}
