body {
    padding-top: 200px;
    padding-bottom: 90px;
    margin-left: 30px;
    margin-right: 30px;
}

@media (min-width: 576px) {
    body {
        padding-top: 155px;
        padding-bottom: 90px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 648px) {
    body {
        padding-top: 105px;
        padding-bottom: 90px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
